div#edit-post-container
   form#edit-post-form
      div#edit-post-form-left
         .form-group
            input.form-control(type='text', name='title', placeholder='Post Title', autofocus, required)
            div#format-buttons
               div.dropdown
                  button#font-size.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                     | Paragraph &nbsp;
                     span.caret
                  ul.dropdown-menu(role='menu', aria-labelledby='font-size')
                     li(role='presentation')
                        a.font-size(role='menuitem', tabindex='-1', href='javascript:void(0)', data-size='0')
                           | Paragraph
                     li(role='presentation')
                        a.font-size(role='menuitem', tabindex='-1', href='javascript:void(0)', data-size='4')
                           h4 Heading 4
                     li(role='presentation')
                        a.font-size(role='menuitem', tabindex='-1', href='javascript:void(0)', data-size='3')
                           h3 Heading 3
                     li(role='presentation')
                        a.font-size(role='menuitem', tabindex='-1', href='javascript:void(0)', data-size='2')
                           h2 Heading 2
                     li(role='presentation')
                        a.font-size(role='menuitem', tabindex='-1', href='javascript:void(0)', data-size='1')
                           h1 Heading 1
               <!-- WYLO .... Get the B (bold) button working! -->
            div#editor(contenteditable='true')
      div#edit-post-form-right
         div#featured-box.panel.panel-default
            div.panel-heading
               h4.panel-title Featured
            div.panel-body
               div(role='tabpanel')
                  ul.nav.nav-tabs(role='tablist')
                     li.active(role='presentation')
                        a.tab-name(href='#image', aria-controls='image', role='tab', data-toggle='tab')
                           | Image
                     li(role='presentation')
                        a.tab-name(href='#video', aria-controls='video', role='tab', data-toggle='tab')
                           | Video
                  div.tab-content
                     div.tab-pane.active(id='image', role='tabpanel')
                     div.tab-pane(id='video', role='tabpanel')
         div#status-box.panel.panel-default
            div.panel-heading
               h4.panel-title Status
            div.panel-body
               div.checkbox
                  label
                     input(type='checkbox', name='published', required)
                     | Published
               a#post-date(href='#') April 26, 2015