form#admin-help-form
  .form-group
    input.form-control(type='email', name='email', placeholder='Email Address', autofocus, required)
  button#admin-help-button.btn.btn-lg.btn-primary.ladda-button(type='submit', data-style='slide-down')
    span.ladda-label Reset Password