form
  .form-group
    input.form-control(type='text', name='username', placeholder='Username')
  .form-group
    input.form-control(type='password', name='password', placeholder='Password')
  button.btn.btn-lg.btn-primary(type='submit') Log In