form#admin-login-form
  .form-group
    input.form-control(type='text', name='username', placeholder='Username', autofocus, required)
  .form-group
    input.form-control(type='password', name='password', placeholder='Password', required)
  button#admin-login-button.btn.btn-lg.btn-primary(type='submit') Log In