extends ../layout

block content
  #content
block template
  script(src='/js/templates/admin-template.js')
block scripts
  WYLO .... include the admin script, then figure out how the freak to compile with Jade...