form
  input.form-control(type='text', name='username', placeholder='Username')
  input.form-control(type='password', name='password', placeholder='Password')
  button.btn.btn-lg.btn-primary(type='submit')

  // WYLO .... See if you can compile this bad boy and render it from the client side (you can worry about stying it later)