button#new-post.btn.btn-lg.btn-primary.ladda-button(type='button') Add New Post
table.table.table-striped
   thead
      tr
         th Title
         th Author
         th Tags
         th Date&nbsp;
            span.glyphicon.glyphicon-triangle-bottom
         th Published
         th &nbsp;
