form#admin-reset-form
   .form-group
      input.form-control(type='password', name='password1', placeholder='New Password', autofocus, required)
   .form-group
      input.form-control(type='password', name='password2', placeholder='Again', required)
   button#admin-reset-button.btn.btn-lg.btn-primary.ladda-button(type='submit', data-style='slide-down')
      span.ladda-label Submit