form#admin-reset-form
  .form-group
    input.form-control(type='email', name='email', placeholder='Email Address', autofocus, required)
  button#admin-reset-button.btn.btn-lg.btn-primary.ladda-button(type='submit', data-style='slide-down')
    span.ladda-label Reset Password

// WYLO .... Figure out how to use grunt to create a build task that writes related template files to a single output file.