body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input[type=text].form-control,
input[type=password].form-control {
  height: 46px;
}

/* WYLO .... Now that you've got the login rendering, get it sized, centered, and functioning! */