body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input[type=text].form-control,
input[type=password].form-control {
  height: 46px;
}

#admin-login-form {
  margin: 0 auto;
  max-width: 350px;
}

/* jQuery Validation */
input.error, input.error:focus {
  border-color: #ee0000;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(238,0,0,.3);
  outline: 0;
}
