body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:hover {
  text-decoration: none;
}

input[type=text].form-control,
input[type=password].form-control {
  height: 46px;
}

#admin-login-form, #admin-help-form, #admin-reset-form {
  margin: 0 auto;
  max-width: 350px;
}

#login-help, #reset-back {
  float: right;
}


/* Posts View */

#new-post {
  margin-bottom: 15px;
}


/* Edit Post View */

#edit-post-container {
  margin: 0 auto;
  width: 82.5%;
}

#edit-post-form-left {
  display: inline-block;
  margin-right: 2.5%;
  vertical-align: top;
  width: 70%;
}

#edit-post-form-right {
  display: inline-block;
  vertical-align: top;
  width: 27.5%;
}

#featured-box {
  margin-bottom: 30px;
}

#featured-box .panel-body {
  padding: 15px 0;
}

#featured-box .nav-tabs {
  padding: 0 15px;
}

a.tab-name {
  color: #8c8c8c;
}

.tab-content .tab-pane {
  height: 200px;
  padding: 0 15px 15px 15px;
}

#format-buttons {
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 46px;
  margin-top: 30px;
}

#editor {
  border: 1px solid #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 500px;
  outline: none;
  padding: 15px;
}

/* jQuery Validation */

input.error, input.error:focus {
  border-color: #ee0000;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(238,0,0,.3);
  outline: 0;
}

/*---------- min-width 980 px ----------*/

@media screen and (min-width: 980px) {

  input[type=text].form-control,
  input[type=password].form-control {
    height: 36px;
  }

  .btn-lg {
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 6px 12px;
  }

}
